<div id="content">

    <table cellpadding=0 cellspacing=0 id="author-paper">

        <tr id="creators">
            <td>&nbsp;<img src="{{seshat_home}}/images/Circle-add-icon.png" style="float:right;" id="add_creator" /></td>
            {% for creator in creators %}
            <td style="width: 200px;" creator_id="{{creator.id}}"><input type="text" class="creator_name" creator_id="{{creator.id}}" value="{{creator.name}}" style="width: 170px;" /><button type="button" name="check" id="{{creator.id}}" style="width: 20px;">Go</button><br />
                <input type="text" class="uri" creator_id="{{creator.id}}" value="{{creator.uri}}" style="width: 200px;" disabled /><br />
                <select class="suggestion" creator_id="{{creator.id}}" style="max-width:200px;">
                    {% if creator.uri != None %}
                    <option value="{{creator.uri}}">{{creator.name}}</option>
                    {% endif %}
                </select>
            </td>
            {% endfor %}
        </tr>
        
        <tr id="select_all">
            <td style="border-bottom: 1px solid #F8F8F8;"><strong>Select All</strong></td>
            {% for creator in creators %}
            <td style="text-align:center; border-bottom: 1px solid #F8F8F8;"><input class="all" type="checkbox" creator_id="{{creator.id}}" {% if creator.id in paper.creators.0 %}checked{% endif %} /></td>
            {% endfor %}
        </tr>

    {% for paper in papers %}

        <tr class="paper" id="{{paper.id}}">
            <td style="border-bottom: 1px solid #F8F8F8;">{{paper.title.0}} ({{paper.date.0}})</td>
            {% for creator in creators %}
            <td style="text-align:center; border-bottom: 1px solid #F8F8F8;"><input type="checkbox" class="selection" creator_id="{{creator.id}}" paper_id="{{paper.id}}" {% if creator.id in paper.creators.0 %}checked{% endif %} /></td>
            {% endfor %}
        </tr>
        
    {% endfor %}

    </table>
</div>

<script>

    // If all of the papers in a creator column have the same value, set the "all" checkbox accordingly.
    var check_all_selected = function (id) {
        var all_selected = true;
        $(".selection[creator_id='"+id+"']").each( function (k, v) {
            if ( ! $(this).prop("checked") ) {
                all_selected = false;
            }
        });

        $(".all[creator_id='"+id+"']").prop("checked", all_selected);
    }

    $(".all").each( function(e) {
        check_all_selected($(this).attr("creator_id"));
    });

    var update_bindings = function() {
//        // Clear bindings
//        $(".creator_name").unbind('change');
//        $(".suggestion").unbind('change');
//        $("button[name='check']").unbind('click');
//        $(".all").unbind('change');
//        $(".selection").unbind('change');
        
        // Just for creator fields.
        $(".creator_name").on('change', function(e) {
            var creator_id = $(this).attr("creator_id")
            $("td[creator_id='"+creator_id+"'] span.create_link").remove();
            
            // Get suggestions
            $.get('{{seshat_home}}/service/conceptpower/' + $(this).val(), function(data) {
                var jdata = $.parseJSON(data);
                $("select[creator_id='" + creator_id.toString()+"']").html("");   // Get rid of the "None" option.
                
                if (jdata.length == 0) {    // Gives the user a clear indication that a concept was not found.
                    $("select[creator_id='" + creator_id.toString()+"']")
                        .append($("<option></option>")
                        .attr("value", "None")
                        .text("Concept not found"));
                    $("td[creator_id='"+creator_id.toString()+"']")
                        .append("<span class='create_link'><br /><a href='http://chps.asu.edu/conceptpower' target='_blank'>Create new concept</a></span>");

                } else {
                    $("select[creator_id='" + creator_id.toString()+"']")
                                        .append($("<option></option>")
                                        .attr("value", "None")
                                        .text("Select a concept"));
                    
                    // Write suggestions as options in select list
                    $.each(jdata, function(key, value) {
                        $("select[creator_id='" + creator_id.toString()+"']")
                            .append($("<option></option>")
                            .attr("value", value.uri)
                            .text(value.name));
                    });
                }
            });
        });
        
        // User selects a CP suggestion
        // Update name and URI fields, and send all creator values back to update paper
        $(".suggestion").on('change', function(e) {
            var suggestion_id = $(this).attr("creator_id");
            var selected_uri = $(this).val();
            var selected_text = $("select[creator_id='"+suggestion_id+"'] option[value='"+selected_uri+"']").text()
            
            console.log(selected_text);
            $("input.creator_name[creator_id='"+suggestion_id+"']").val(selected_text);
            $("input.uri[creator_id='"+suggestion_id+"']").val(selected_uri);
            
            // Update Creator record
            var request = $.ajax({
                url: "{{seshat_home}}/paper/0/update_creator",
                type: "post",
                data:   
                    {
                        'action': 'update',
                        'id': suggestion_id,
                        'name': selected_text,
                        'uri': selected_uri,
                        'paper': 0
                    }
            });
            
            request.done(function (response, textStatus, jqXHR) {
                console.log(response)
            });

        });

        // "Go" button works just like changing text in creator name field.
        $("button[name='check']").on("click", function (e) {
            $("input.creator_name[creator_id='"+ $(this).prop("id").toString() + "']").trigger("change");
        });
        
        // Sellect all/none
        $(".all").on("change", function(e) {
            var creator_id = $(this).attr("creator_id");
            
            $(".selection[creator_id='"+creator_id+"']").prop("checked", $(this).prop("checked")).change();
        });
        
        // User checks a box for an author-paper
        $(".selection").on('change', function(e) {
            var creator_id = $(this).attr("creator_id");
            var creator_name = $(".creator_name[creator_id='"+creator_id+"']").val();
            var creator_uri = $(".uri[creator_id='"+creator_id+"']").val();
            var paper_id = $(this).attr("paper_id");
            var status = $(this).prop("checked");
            
            if (status) {
                var action = "add";
            } else {
                var action = "remove";
            }
            
            var request = $.ajax({
                url: "{{seshat_home}}/paper/"+paper_id+"/update_creator",
                type: "post",
                data:   
                    {
                        'action': action,
                        'id': creator_id,
                        'name': creator_name,
                        'uri': creator_uri,
                        'paper': paper_id
                    }
            });
            
            request.done(function (response, textStatus, jqXHR) {
                console.log(response)
            });
        });
    }
    
    $('body').on('load', update_bindings());
    
    // Add new creator
    $("#add_creator").on("click", function (e) {
    
        // Get a new Creator object.
        var request = $.ajax({
            url: "{{seshat_home}}/paper/0/update_creator",
            type: "post",
            data:   
                {
                    'action': 'add',
                    'name': '',
                    'uri': '',
                    'paper': 0
                }
        });
        
        request.done(function (response, textStatus, jqXHR) {
            var creator_id = response;
            $("tr#creators").append("<td  style='width: 200px;' creator_id='"+ creator_id + "'></td>");
            $("td[creator_id='"+creator_id+"']").append("<input type='text' class='creator_name' creator_id='"+ creator_id + "' value='' style='width: 170px;' />")
                                                .append("<button type='button' name='check' id='" + creator_id + "' style='width: 20px;'>Go</button><br />")
                                                .append("<input type='text' class='uri' creator_id='" + creator_id + "' value='' style='width: 200px;' disabled /><br />")
                                                .append("<select class='suggestion' creator_id='" + creator_id + "' style='max-width:200px;'>");
            $("tr#select_all").append("<td style='text-align:center; border-bottom: 1px solid #F8F8F8;'><input class='all' type='checkbox' creator_id='"+ creator_id + "' /></td>");
            
            {% for paper in papers %}
            $("tr#{{paper.id}}").append("<td style='text-align:center; border-bottom: 1px solid #F8F8F8;'><input type='checkbox' class='selection' creator_id='"+ creator_id + "' paper_id='{{paper.id}}' /></td>");
            {% endfor %}
            
            update_bindings();
        });

    });

</script>