<div id="content">
    <p><a href="http://erickpeirson.github.io/Seshat/" target="_blank">Seshat</a> is a simple web application that facilitates the production of metadata for text corpora. The source code can be found <a href="https://github.com/erickpeirson/Seshat" target="_blank">here</a>.</p>
    
    <p>If you run into trouble, talk to Erick: erick [dot] peirson [at] asu [dot] edu.</p>
    
    {% if user_status == None %}
        <p><a href="{{ login }}">Log in</a> to get started.</p>
    {% endif %}
</div>