<div id="content">
    <h2>Please authorize Mendeley to access your library:</h2>
    
    <ol>
        <li>Open this page in a new browser window: <a href="{{ auth_url }}" target="_blank">{{ auth_url }}</a></li>
        <li>Log in to your Mendeley account, and authorize this software.</li>
        <li>Enter the verification code here: <input type="text" id="verification" size="20" /></li>
    </ol>
    
</div>

<script>

$("#verification").on("change", function(e) {
    var data = {
        verification: $(this).val(),
        request_token: "{{ request_token }}"
    }
    var request = $.ajax({
        url: "{{ seshat_home }}/corpus/authorize_mendeley?datasource=mendeley",
        type: "post",
        data: data
    });
    
    request.done(function (resonse, textStatus, jqXHR) {
        console.log(resonse);
    });
});

</script>